<!DOCTYPE html>
<html lang="en">

{% load static %}

<link rel="stylesheet" href="{% static 'orders/style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
    <a href="{% url 'home' %}">Back</a>
    {% if perms.orders.add_order %}
        <a href="{% url 'create_order' %}">Create Order</a>
    {% endif %}
    <h1>Order List</h1>
    <ul>
    {% if orders %}
        {% for order in orders %}
            <li>
                <a href="{% url 'order_detail' order.id %}">{{ order.id }} - {{ order.order_name }} - {{ order.user.username }} - {{ order.date_ordered }}</a>
            </li>
        {% endfor %}
    {% else %}
        <li>No orders available.</li>
    {% endif %}
    </ul>
</body>
</html>
